<div class="row" style="background: white">
  <div class="container" style="width: 63%;">
    <div style="padding:0.75rem 1.25rem">
      <div class="container">
        <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <app-miga-pan [items]="migaPan"></app-miga-pan>
        </div>
      </div>
      <div style="display:flex">
        <img src="../../../assets/iconos/star.svg" style="height: 35px; margin-right: 10px;" />
        <div class="titulo">RANKING </div>
       </div>
    </div>
  </div>
</div>
<div class="container" style="width: 63%;">
  <div style="background: #F2F5FA; margin-bottom: 20px;">
    <div class="container">
      <div id="configurar" style="padding:0.75rem 1.25rem">
        <ul class="nav nav-tabs" style="justify-content: space-between;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-controls="intento1" aria-selected="true" (click)="ObtenerListaRankingExamenPorIntento(1)" style="cursor:pointer">Intento 1</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab"  role="tab" aria-controls="intento2" aria-selected="false" (click)="ObtenerListaRankingExamenPorIntento(2)" style="cursor:pointer">Intento 2</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link"  data-bs-toggle="tab"  role="tab" aria-controls="intento3" aria-selected="false" (click)="ObtenerListaRankingExamenPorIntento(3)" style="cursor:pointer">Intento 3</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab"role="tab" aria-controls="intento4" aria-selected="false" (click)="ObtenerListaRankingExamenPorIntento(4)" style="cursor:pointer">Intento 4</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab"role="tab" aria-controls="intento5" aria-selected="false" (click)="ObtenerListaRankingExamenPorIntento(5)"  style="cursor:pointer">Intento 5 a +</a>
            </li>
        </ul>
        <ng-container *ngFor="let item of DatoRanking,let i=index;">
        <div *ngIf="item.examen.examen.numeroIntento==Intento" class="tab-content" style="margin-top: 40px;">
          <div class="card" style="border-radius:20px;">
            <div class="card-body" style=" padding: 1.5rem 3rem 1rem 3rem;">
              <div class="row">
                <div class="col-12 col-md-1">
                  <div style="font-size: 25px;color:#565759">
                    <b>{{i+1}}°</b>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <img style="height: 180px;" class="ImgAvatar" [src]="'https://avataaars.io/?avatarStyle=Circle&topType='+item.usuarioAvatar.top+'&accessoriesType='+
                  item.usuarioAvatar.accesories+'&hairColor='+
                  item.usuarioAvatar.hair_Color+'&facialHairType='+
                  item.usuarioAvatar.facial_Hair+'&facialHairColor='+
                  item.usuarioAvatar.facial_Hair_Color+'&clotheType='+
                  item.usuarioAvatar.clothes+'&clotheColor='+
                  item.usuarioAvatar.clothes_Color+'&eyeType='+
                  item.usuarioAvatar.eyes+'&eyebrowType='+
                  item.usuarioAvatar.eyesbrow+'&mouthType='+
                  item.usuarioAvatar.mouth+'&skinColor='+
                  item.usuarioAvatar.skin">
                  <div style="text-align: center;font-size:25px">
                    {{item.usuarioAvatar.nombre}}
                  </div>
                </div>

                <div class="col-12 col-md-7">
                  <div class="row tituloRanking" >
                    <div class="col-12 col-md-1">
                      <img height="22px" src="../../../assets/iconos/star.svg">
                    </div>
                    <div class="col-12 col-md-8" style="font-weight: bold;color: #565759;font-size: 18px;">
                      Puntaje general
                    </div>
                    <div class="col-12 col-md-3" style="color: #2B7DE9;font-weight: bold;font-size: 20px;">
                    {{item.examen.examen.desempenio}}
                    </div>
                  </div>
                  <div class="subTitulo"  style="text-align: left;border-bottom: 1px solid #E4E4E4">
                    Puntaje por pilar:
                  </div>
                  <ng-container *ngFor="let Dominios of item.examen.dominioResultado">
                    <div class="row">
                      <div class="col-12 col-md-9" style="font-size: 12px;color: #818283;">
                        {{Dominios.nombre}}
                      </div>
                      <div class="col-12 col-md-3 desempenio" >
                        {{Dominios.desempenio}}
                      </div>
                    </div>
                    <mat-progress-bar mode="determinate" style="height: 4px;margin-bottom: 4px;"
                      [value]="Dominios.desempenio">
                    </mat-progress-bar>
                  </ng-container>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
        <br>
      </ng-container>
      </div>
    </div>
  </div>
</div>
