<div class="container" style="width: 80%;">
  <div style="padding-top: 20px;padding-bottom: 50px;">
    <div class="card" style="border-radius:10px;margin-top:30px;">
      <div class="card-header" style="border-radius: 10px 10px 0px 0px; background: #ffe600">
        <br />
        <div class="row">
          <div class="col-md-3" style="text-align: center">
            <img class="ImgAvatar" [src]="urlAvatar" alt="">
          </div>
          <div class="col-md-7" style="margin-left: 30px;">
            <div class="row titulocard">
              {{NombreAlumno}}
            </div>
            <br />
            <div class="row itemscard">
                <div class="col-md-8 subtitleCard" style="font-size: 18px;">
                    <img src="../../../assets/iconos/star.svg" height="15" style="margin-right: 10px;" /> Nivel
                </div>
                <div class="col-md-4" style="font-size: 16px; font-weight: 500;">
                  {{NivelUsuario}}
                </div>
            </div>
            <div class="row itemscard">
                <div class="col-md-8 subtitleCard" style="font-size: 18px;">
                    <img src="../../../assets/iconos/check_2.svg" height="15" style="margin-right:10px" /> Exámenes completados
                </div>
                <div class="col-md-4" style="font-size: 16px; font-weight: 500;">
                  {{ExamenesCompletados}} Examen(es)
                </div>
            </div>
            <div class="row itemscard">
                <div class="col-md-8 subtitleCard" style="font-size: 18px;">
                    <img src="../../../assets/iconos/check_2.svg" height="15" style="margin-right: 10px" /> Exámenes activos
                </div>
                <div class="col-md-4" style="font-size: 16px; font-weight: 500;">
                  {{ExamenesActivos}} Examen(es)
                </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="NivelUsuario!=''" class="card-body container" style="margin-top: 20px;margin-bottom: 10px;">
        <div class="row">
          <div class="col-md-4">
            <div>
              <div style="display: flex;justify-content: center;">
              <app-pie [Puntos]="PuntosNivel" [TotalPuntos]="TotalPuntos"></app-pie>
              </div>
              <div class="item-leyenda-dona-principal">
                <div style="text-align: center">
                  {{PuntosNivel}} / {{TotalPuntos}} puntos
                </div>
                <div style="color: #af9f9f; font-size: 13px;text-align: center;">Siguiente nivel: <b>{{SiguienteNivelUsuario}}</b></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div style="display: flex;justify-content: center;">
            <app-dona  [Puntos]="PuntosNivel" [TotalPuntos]="TotalPuntos"></app-dona>
            </div>
            <div class="item-leyenda-dona-principal">
              <div style="text-align: center">
                Puntaje promedio
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div style="display: flex;justify-content: center;">
            <app-dona [Puntos]="PuntosNivel" [TotalPuntos]="TotalPuntos" ></app-dona>
            </div>
            <div class="item-leyenda-dona-principal">
              <div style="text-align: center">
                Puntaje máximo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modos disponibles en el simulador -->
    <br />
    <div style="padding-top: 20px;">
      <div class="titulo">
        Modos disponibles en el simulador
      </div>
      <br />
      <div class="row" style="color:#fff;justify-content: center;">
        <div class="card CardModosDisponibles col-12 col-md-4" style="padding-bottom: 15px;">
         <div style="cursor: pointer;" [routerLink]="'/ModoExamen'">
          <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px; ">
            <div class="text-center">
              <img src="../../../assets/iconos/ModoExamenSelect.svg" style="height:25px;margin-top: 5px;margin-bottom: 5px;" />
            </div>
            <div class="text-center">
              <b>Modo examen</b>
            </div>
          </div>
          <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
            <div class="text-center"><b style="font-size:60px;">{{CantMExamen}}</b></div>
            <div class="text-center"><span class="card-text">Simulaciones</span></div>
          </div>
         </div>
        </div>
        <div class="card CardModosDisponibles col-12 col-md-4" style="padding-bottom: 15px;" >
          <div style="cursor: pointer;" [routerLink]="'/ModoEntrenamiento'">
            <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; padding-left: 0px; padding-right: 0px; font-size: 20px;">
              <div class="text-center">
                <img src="../../../assets/iconos/ModoEntrenamientoSelect.svg" style="height:25px;margin-top: 5px;margin-bottom: 5px;" />
              </div>
              <div class="text-center">
                <b>Modo entrenamiento</b>
              </div>
            </div>
            <div class="card-body " style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
              <div class="text-center"><b style="font-size:60px;">{{CantMEntrenamiento}}</b></div>
              <div class="text-center"><span class="card-text">Simulaciones</span></div>
            </div>
          </div>
        </div>
        <div class="card CardModosDisponibles col-12 col-md-4" style="padding-bottom: 15px;">
          <div style="cursor: pointer;" [routerLink]="'/ModoEstudio'">
            <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
              <div class="text-center">
                <img src="../../../assets/iconos/ModoEstudioSelect.svg" style="height:25px;margin-top: 5px;margin-bottom: 5px;" />
              </div>
              <div class="text-center">
                  <b>Modo estudio</b>
              </div>
            </div>
            <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
              <div class="text-center"><b style="font-size:60px;">{{CantMEstudio}}</b></div>
              <div class="text-center"><span class="card-text">Simulaciones</span></div>
          </div>
          </div>
      </div>
    </div>
    </div>

    <!-- Modo examen -->
    <br />
    <div class="card" style="padding:30px;border-radius:20px;margin-top: 30px;">
      <div class="card-body" style="border-bottom: 1px solid #E4E4E4; border-radius: 20px 20px 0px 0px; padding: 0px">
          <div class="cabeceraCardBody" style="display: flex">
              <img src="../../../assets/iconos/ModoExamenSelect.svg" style="height: 35px; margin-right: 10px;" />
              <h2 class="titulo">Modo Examen</h2>
          </div>
          <p style="padding-top: 12px; padding-bottom: 10px;">
            Este modo es donde se simulará todas las condiciones del examen de certificación Itil, como el tiempo del examen y la cantidad de preguntas. Este modo también suma puntaje reflejado en el nivel de cada usuario.
          </p>
      </div>
      <div class="card-body" style="border-radius: 0px 0px 20px 20px; padding-top: 20px; padding-bottom:0px; ">
        <div class="row">
            <div class="col-md-6" style="display: block; padding-bottom: 15px;">
                <span class="subtitulo" style="display:block; padding-bottom: 15px;">Resultados de tu último examen:</span>
              <div>
                <div *ngIf="Examen!=undefined" class="chart">
                  <app-dona-puntos [Puntos]="Puntos"></app-dona-puntos>
                  <div class="item-nota">
                      Nota* : Estos resultados muestran solo el puntaje obtenido de tu ultimo exámen.<br>
                      El grafico de barras muestra el promedio general por cada dominio de todas las simulaciones realizadas en el modo examen.
                    </div>
                  </div>
                  <div *ngIf="Examen==undefined"  style=" font-size: 15px;margin-top: 10px;" >
                    No tiene simulaciones realizadas en modo examen.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="subtitulo" >
                  Objetivos de aprendizaje con mayor puntaje:
                </div>
                <div>
                  <app-barras
                    [ResultadoTarea1]="ResultadoTarea1"
                    [ResultadoTarea2]="ResultadoTarea2"
                    [ResultadoTarea3]="ResultadoTarea3"
                    [ResultadoTarea4]="ResultadoTarea4"
                    [ResultadoTarea5]="ResultadoTarea5"
                    [ResultadoTarea6]="ResultadoTarea6"
                    [ResultadoTarea7]="ResultadoTarea7">
                  </app-barras>
                </div>
                <br>
                <div class="subtitulo">
                  Leyenda:
                </div>
                <ng-container *ngFor="let item of Tarea">
                  <div class="item-leyenda-barras">
                    <b>OA:</b> {{item.nombre}}.
                  </div>
                </ng-container>

              </div>
          </div>
          <br />
          <div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">

                <div class="d-grid gap-2">
                  <a class="btn btn-primary btn-button-estandar" href="/ModoExamen"><span>Crea una simulación de examen ></span></a>
                </div>

              </div>
              <div class="col-md-3"></div>
            </div>
          </div>

      </div>
    </div>
    <!-- Modo entrenamiento -->
    <br />
    <div class="card" style="padding:30px;border-radius:20px;margin-top: 30px;">
      <div class="card-body" style="border-bottom: 1px solid #E4E4E4; border-radius: 20px 20px 0px 0px; padding: 0px">
          <div class="cabeceraCardBody" style="display:flex">
              <img src="../../../assets/iconos/ModoEntrenamientoSelect.svg" style="height: 35px; margin-right: 10px;" />
              <h2 class="titulo">Modo Entrenamiento</h2>
          </div>
          <p style="padding-top: 12px; padding-bottom: 10px;">
            En este modo se te presentará 40 preguntas como en el examen de certificación. Además luego de responder cada pregunta se te brindará retroalimentación para poder corroborar tus respuestas de forma inmediata.
          </p>
      </div>
      <div class="card-body" style="border-radius: 0px 0px 20px 20px; padding-top: 20px; padding-bottom:0px; ">
        <div class="subtitulo" style="padding-bottom: 25px;">
          Últimas simulaciones realizadas:
        </div>
        <div>
          <div *ngIf="CantMEntrenamiento!=0" class="row">
            <ng-container *ngFor="let item of ListaEntrenamiento">
              <div *ngIf="item.idEstadoExamen==3 && ContadorEntrenamiento<=3" class="col-md-3" style="padding-bottom: 15px;">
                <div>
                  <app-dona-puntos [Puntos]="item.desempenio"></app-dona-puntos>
                </div>
                <div class="item-leyenda-dona">
                  {{item.nombreExamen}}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div  *ngIf="CantMEntrenamiento==0" style=" font-size: 15px;margin-top: 10px;">
          No tiene simulaciones realizadas en modo entrenamiento.
        </div>
      </div>
      <br />
      <div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="d-grid gap-2">
              <a class="btn btn-primary btn-button-estandar" href="/ModoEntrenamiento"><span>Crea una simulación de entrenamiento ></span></a>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>

  <!-- Modo Estudio -->
  <br />
  <div class="card" style="padding:30px;border-radius:20px;margin-top: 30px;">
      <div class="card-body" style="border-bottom: 1px solid #E4E4E4; border-radius: 20px 20px 0px 0px; padding: 0px">
          <div class="cabeceraCardBody" style="display: flex;">
              <img src="../../../assets/iconos/ModoEstudioSelect.svg" style="height: 35px; margin-right: 10px;" />
              <h2 class="titulo">Modo Estudio</h2>
          </div>
          <p style="padding-top: 12px; padding-bottom: 10px;">
            En este modo podrás estudiar de forma personalizada cada una de los objetivos de aprendizaje en los que se divide el examen de certificación Itil.
          </p>
      </div>
      <div class="card-body" style="border-radius: 0px 0px 20px 20px; padding-top: 20px; padding-bottom:0px; ">
          <div style="margin-bottom:15px">
            <span class="subtitulo" >Objetivos de aprendizaje con mejor puntaje:
            </span><br />
          </div>
            <div *ngIf="ResultadosPorTarea!=undefined">
              <ng-container *ngFor="let itemTareas of ResultadosPorTarea" >
                <div *ngIf="itemTareas.promedio!=0" class="row">
                  <div class="col-11" style="top:8px;">
                    <mat-progress-bar mode="determinate" style="height: 10px;"
                      [value]="itemTareas.promedio">
                    </mat-progress-bar>
                    <p><b style="color:#786565">Objetivo de aprendizaje{{itemTareas.id}}: </b> <span>{{itemTareas.nombre}}</span></p>
                </div>
                <div class="col-1">
                    <h5 style="color: #0684f2; white-space: nowrap; font-weight: 800 ">{{itemTareas.promedio}}%</h5>
                </div>
                </div>
              </ng-container>
            </div>
            <div *ngIf="ResultadosPorDominio==undefined">
              <div style=" font-size: 15px;margin-top: 10px;">
                Aún no ha realizado ninguna sesión de estudio
              </div>
            </div>
            <div *ngIf="CantMEstudio==0">
            <div style=" font-size: 15px;margin-top: 10px;">
             No tiene simulaciones realizadas en modo estudio.
            </div>
          </div>
          <br />
          <div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="d-grid gap-2">
                  <a class="btn btn-primary btn-button-estandar" href="/ModoEstudio"><span>Crea una simulación de estudio ></span></a>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
      </div>
  </div>
    <!-- Instrucciones del simulador -->
    <br />
    <div class="card" style="padding:30px;border-radius:20px;">
      <div class="card-body" style="border-radius: 20px 20px 20px 20px; padding-top: 20px; padding-bottom:0px; ">
        <div class="cabeceraCardBody" style=" margin-bottom: 10px;display: flex;margin-bottom: 20px;">
          <img src="../../../assets/iconos/ManoIndicacion.svg" style="height: 35px; margin-right: 10px;" />
          <h2 style="font-size: 25px!important;">Instrucciones del simulador</h2>
        </div>
      <div class="card">
        <video id="videoIntroduccionCrucigrama" class="embed-responsive" controls>
          
          <source src="https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/guias/simulador/ITIL-F.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <br>
</div>
