<div class="row" style="background: white">
  <div class="container" style="width: 63%;">
    <div style="padding:0.75rem 1.25rem">
      <div class="container">
        <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <app-miga-pan [items]="migaPan"></app-miga-pan>
        </div>
      </div>
      <div style="display:flex">
        <img src="../../../assets/iconos/save.svg" style="height: 35px; margin-right: 10px;" />
        <div class="titulo">SIMULACIONES GUARDADAS </div>
       </div>
    </div>
  </div>
</div>
<br>
<div class="container" style="width: 63%;">
  <!-- Simulaciones guardadas Modo Examen -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="subtitulo" style="text-align: left;border-bottom: 1px solid #E4E4E4"><img src="../../../assets/iconos/ModoExamenSelect.svg" style="height: 30px;" />
          Modo Examen
        </div>
      </div>
    </div>
    <div *ngIf="ContExamenIncompleto!=0" class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
      <ng-container *ngFor="let item of SimulacionesIncompletas">
        <div  *ngIf="item.idSimuladorAdsaModo==3" class="container" style="border-top: 1px solid #E4E4E4;margin-bottom: 20px;">
          <div class="row" style="margin-top: 20px;margin-left: 0px;">
            <div class="col-8">
              <div>
                <b>Nombre: </b>  {{item.nombreExamen}}
              </div>
              <div>
                <b>Progreso:</b> {{item.preguntasRespondidas}} de {{item.preguntasRespondidas+item.preguntasPendientes}}
              </div>
            </div>
            <div class="col-4">
              <div style="justify-content: center;display:flex">
                <app-default-button  [confs]="{color:'primary',titulo:'Continuar'}"
              [style]="'width:170px;margin-top: 20px;background:#FF7424'" [routerLink]="'/ModoExamen/ExamenPregunta/'+item.id" ></app-default-button>
              </div>
            </div>
          </div>
          <mat-progress-bar mode="determinate" style="height: 10px;"
            [value]="(item.preguntasRespondidas/(item.preguntasRespondidas+item.preguntasPendientes))*100">
          </mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <div  *ngIf="ContExamenIncompleto==0" style=" font-size: 15px;margin-top: 10px;margin-left: 15px;">
      No tiene simulaciones guardadas en modo examen.
    </div>
  </div>
  <br>
  <!-- Simulaciones guardadas Modo Entrenamiento -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="subtitulo" style="text-align: left;border-bottom: 1px solid #E4E4E4"><img src="../../../assets/iconos/ModoEntrenamientoSelect.svg" style="height: 30px;" />
          Modo entrenamiento
        </div>
      </div>
    </div>
    <div *ngIf="ContEntrenamientoIncompleto!=0" class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
      <ng-container *ngFor="let item of SimulacionesIncompletas">
        <div *ngIf="item.idSimuladorAdsaModo==2" class="container" style="border-top: 1px solid #E4E4E4;margin-bottom: 20px;" >
          <div class="row" style="margin-top: 20px;margin-left: 0px;">
            <div class="col-8">
              <div>
                <b>Nombre: </b>  {{item.nombreExamen}}
              </div>
              <div>
                <b>Progreso:</b> {{item.preguntasRespondidas}} de {{item.preguntasRespondidas+item.preguntasPendientes}}
              </div>
            </div>
            <div class="col-4">
              <div style="justify-content: center;display:flex">
                <app-default-button  [confs]="{color:'primary',titulo:'Continuar'}"
              [style]="'width:170px;margin-top: 20px;background:#FF7424'" [routerLink]="'/ModoEntrenamiento/EntrenamientoPregunta/'+item.id" ></app-default-button>
              </div>
            </div>
          </div>
          <mat-progress-bar mode="determinate"
            [value]="(item.preguntasRespondidas/(item.preguntasRespondidas+item.preguntasPendientes))*100">
          </mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <div  *ngIf="ContEntrenamientoIncompleto==0" style=" font-size: 15px;margin-top: 10px;margin-left: 15px;">
      No tiene simulaciones guardadas en modo entrenamiento.
    </div>
  </div>
  <br>
  <!-- Simulaciones guardadas Modo Estudio -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="subtitulo" style="text-align: left;border-bottom: 1px solid #E4E4E4"><img src="../../../assets/iconos/ModoEstudioSelect.svg" style="height: 30px;" />
          Modo estudio
        </div>
      </div>
    </div>
    <div *ngIf="ContEstudioIncompleto!=0" class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
      <ng-container *ngFor="let item of SimulacionesIncompletas">
        <div  *ngIf="item.idSimuladorAdsaModo==1" class="container" style="border-top: 1px solid #E4E4E4;margin-bottom: 20px;">
          <div class="row" style="margin-top: 20px;margin-left: 0px;">
            <div class="col-8">
              <div>
                <b>Nombre: </b>  {{item.nombreExamen}}
              </div>
              <div>
                <b>Progreso:</b> {{item.preguntasRespondidas}} de {{item.preguntasRespondidas+item.preguntasPendientes}}
              </div>
            </div>
            <div class="col-4">
              <div style="justify-content: center;display:flex">
                <app-default-button  [confs]="{color:'primary',titulo:'Continuar'}"
              [style]="'width:170px;margin-top: 20px;background:#FF7424'" [routerLink]="'/ModoEstudio/EstudioPregunta/'+item.id" ></app-default-button>
              </div>
            </div>
          </div>
          <mat-progress-bar mode="determinate"
            [value]="(item.preguntasRespondidas/(item.preguntasRespondidas+item.preguntasPendientes))*100">
          </mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <div  *ngIf="ContEstudioIncompleto==0" style=" font-size: 15px;margin-top: 10px;margin-left: 15px;">
      No tiene simulaciones guardadas en modo estudio.
    </div>
  </div>

</div>

