.ErrorTitulo{
  color: #FCAC43;
  font-size: 40px;
  font-weight: bold;
  margin-top: 70px;
}
.ErrorSubtitulo{
  color: #5D5D6C;
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px;
}
.ErrorImagen{
  width: 440px;
  height: 300px;
  margin-top: 50px;
}
