
<app-header>

</app-header>
<div class="container">
  <div class="row" style="padding-top: 50px;">
    <div class="col-sm-7">
      <div style="margin-left: 70px;">
        <div class="ErrorTitulo">
          ¡Oh , no!
        </div>
        <div class="ErrorSubtitulo">
          No pudimos encontrar la página que buscas.
        </div>
        <div style="margin-top: 50px;">
          Aquí tenemos algunos enlaces que pueden servirte de ayuda con tu búsqueda
        </div>
        <div style="margin-top: 20px;">
          <a routerLink="">Inicio</a>
        </div>
        <div style="margin-top: 5px;">
          <a routerLink="/ModoEstudio">Modo Estudio</a>
        </div>
        <div style="margin-top: 5px;">
          <a routerLink="/ModoEntrenamiento">Modo Entrenamiento</a>
        </div>
        <div style="margin-top: 5px;">
          <a routerLink="/ModoExamen">Modo Examen</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <img class="ErrorImagen" src="https://img.bsginstitute.com/repositorioweb/img/error-404.jpg" alt="">
    </div>
  </div>
</div>
