.radioFormRpta{
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 18px;
}
.Enunciado{
  color: #4a4a49;
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
}
.Seleccion{
  border-bottom: 1px solid #00000021;
  color: #4a4a49;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.subtitulo {
  font-size: 18px;
  color: #878787;
  font-weight: 700;
}
.titulo {
  font-size: 30px;
  color: #4a4a49 !important;
  font-weight: 700 !important;
  text-align: center;
}
