<div style="background: white">
  <div class="container" style="width: 80%;">
    <div style="padding-top: 12px; padding-bottom: 12px;">
      <div class="container">
        <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <app-miga-pan [items]="migaPan"></app-miga-pan>
        </div>
      </div>
      <div style="display:flex">
        <img src="../../../assets/iconos/ModoEntrenamientoSelect.svg" style="height: 35px; margin-right: 10px;" />
        <div class="titulo">Modo Entrenamiento</div>
       </div>
    </div>
  </div>
</div>

<div class="container" style="width: 80%; padding-bottom: 40px; padding-top: 40px;">
  <div style="padding-top: 20px; padding-bottom: 25px;">
    <div  class="row" style="color:#fff;justify-content: center;">
      <div class="card CardsEstudio col-md-4" style="background: #f2f5fa; border: none;">
        <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
          <div style="text-align:center;">
              <b class="card-title">Número de simulaciones</b><br><b>totales</b></div>
        </div>
        <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
          <div class="text-center"><b style="font-size:60px;">{{SimulacionesTotales}}</b></div>
        </div>
    </div>
    <div class="card CardsEstudio col-md-4" style="background: #f2f5fa; border: none;">
        <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
            <div style="text-align:center;">
                <b class="card-title">Número de simulaciones</b><br><b> inconclusas</b>
            </div>
        </div>
        <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
          <div class="text-center"><b style="font-size:60px;">{{SimulacionesInconclusas}}</b></div>

        </div>
    </div>
    <div class="card CardsEstudio col-md-4" style="background: #f2f5fa; border: none;">
        <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
            <div style="text-align:center; ">
                <b class="card-title">Tiempo de estudio</b><br><b> total</b>
            </div>
        </div>
        <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
            <div class="text-center"><b style="font-size:60px;">{{HoraMostrar}}:{{MinutoMostrar}}</b></div>
            <div class="text-center"><span class="card-text">XX horas / XX minutos</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="titulo" style="padding-top: 20px; padding-bottom: 15px;">
    Resultados de simulaciones de entrenamiento
    <div>
      <div class="container" style="text-align: left;border-bottom: 1px solid #E4E4E4 ; margin-bottom: 5px;">
        <img src="../../../assets/iconos/ModoEntrenamientoSelect.svg" style="height: 35px;" />
      </div>
      <mat-progress-bar mode="determinate" style="height: 20px;"
            [value]="Promedio">
      </mat-progress-bar>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-6" style="text-align: left;font-size: 17px;">
          {{Promedio}} Puntos
        </div>
        <div class="col-6" style="text-align: right;font-size: 17px;font-weight: bold;">
          Puntaje promedio / 100
        </div>
      </div>
      <div *ngIf="ResultadosPorDominio!=undefined" class="titulo" style="font-weight: 400 !important;margin-bottom: 10px;">
        <div class="row">
          <div class="col-12 col-md-3">
            <div style="display: flex;justify-content: center;">
          <app-dona-puntos [Puntos]="ResultadosPorDominio.dominio1"></app-dona-puntos>
        </div>
        <div class="item-leyenda-dona">
          <div class="subtitulo">
            Habilidad 1:
          </div>
          <div style="font-size: 14px">
            Administrar los recursos de Azure para el aprendizaje automático.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div style="display: flex;justify-content: center;">
          <app-dona-puntos [Puntos]="ResultadosPorDominio.dominio2"></app-dona-puntos>
        </div>
        <div class="item-leyenda-dona">
          <div class="subtitulo">
            Habilidad 2:
          </div>
          <div style="font-size: 14px">
            Ejecutar experimentos y entrenar modelos.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div style="display: flex;justify-content: center;">
          <app-dona-puntos [Puntos]="ResultadosPorDominio.dominio3"></app-dona-puntos>
        </div>
        <div class="item-leyenda-dona">
          <div class="subtitulo">
            Habilidad 3:
          </div>
          <div style="font-size: 14px">
            Implementar y poner en funcionamiento soluciones de aprendizaje automático.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div style="display: flex;justify-content: center;">
          <app-dona-puntos [Puntos]="ResultadosPorDominio.dominio4"></app-dona-puntos>
        </div>
        <div class="item-leyenda-dona">
          <div class="subtitulo">
            Habilidad 4:
          </div>
          <div style="font-size: 14px">
            Implementar aprendizaje automático responsable.
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="Promedio>=70" style="margin-top:15px; margin-bottom: 15px; font-size: 13px;color:#706E81 ;background-color: #FFFDEE;border-radius: 5px;">
      Tu puntaje está dentro de lo requerido para aprobar el modo entrenamiento. Conseguiste más del 70% de puntaje en el modo entrenamiento del Microsoft Certified: Azure Data Scientist Associate DP-100.
    </div>
  </div>
  </div>


  <!-- Crear simulación de estudio -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-bottom: 1px solid #E4E4E4; border-radius: 20px 20px 0px 0px; padding-bottom: 10px;">
      <div class="titulo" style="text-align: left"><img src="../../../assets/iconos/New.svg" style="height: 40px;" />
        Crear simulación de entrenamiento
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px; padding-top: 20px; padding-bottom:0px; ">
      <div class="subtitulo" style="padding-bottom: 5px;">
        Instrucciones:
      </div>
      <div>
        En este modo se te presentará 60 preguntas, con la estructura del examen Microsoft Certified: Azure Data Scientist Associate DP-100. Se te mostrará la retroalimentación de cada pregunta luego de responderla, para que así puedas validar tu selección y fortalecer tus conocimientos.
      </div>
      <form (submit)="RegistrarExamen()" [formGroup]="userForm">
        <div class="form-horizontal" id="form-crearExamen">
          <div class="row">
            <div class="col-md-12" style="margin-top: 10px ">
              <div class="subtitulo">Nombre de la simulación:</div>
              <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <input type="text" placeholder="Escriba el nombre de la simulación" formControlName="NombreSimulacion" matInput />
                <mat-error *ngIf="userForm.invalid">Debe ingresar un nombre para la simulación</mat-error>
              </mat-form-field>
              </div>
            </div>
          </div>
        <div style="justify-content: center;display:flex">
          <app-default-button  [confs]="{color:'primary',titulo:'Comenzar'}"
        [style]="'width:290px;margin-top: 20px;background:#FF7424'" [disabled]="BotonResgistrar" ></app-default-button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <!-- Simulaciones completadas -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="titulo" style="text-align: left;border-bottom: 1px solid #E4E4E4; padding-bottom: 10px;"><img src="../../../assets/iconos/check2.svg" style="height: 40px;" />
          Simulaciones completadas
        </div>
        <div *ngIf="ContSimulacionesCompletadas!=0">
          <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding: 0px;">
            <ng-container *ngFor="let item of SimulacionesCompletadas">
              <div  *ngIf="item.idSimuladorAdsaModo==2" style="border-bottom: 1px solid #E4E4E4;padding-bottom: 15px;">
                <div class="row texto-contenido" style="margin-top: 20px;margin-left: 0px;">
                  <div class="col-md-4">
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                      <div>
                        <b>Nombre: </b>  {{item.nombreExamen}}
                      </div>
                      <div>
                        <b>Fecha de conclusión:</b> {{item.fechaModificacion|date: 'dd/MM/yyyy'}} - {{item.fechaModificacion| date: 'HH:mm'}}
                      </div>
                    </div>

                  </div>
                  <div class="col-md-3">
                    <app-dona-puntos [Puntos]="item.desempenio"></app-dona-puntos>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <div style="padding-top: 10px;">
                        <app-default-button  [confs]="{color:'primary',titulo:'Ver resultados'}"
                      [style]="'width:100%;background:#FF7424'" [routerLink]="'/ModoEntrenamiento/EntrenamientoReporte/'+item.id" ></app-default-button>
                      </div>
                      <div style="padding-top: 10px;">
                        <app-default-button  [confs]="{color:'primary',titulo:'Revisar preguntas'}"
                      [style]="'width:100%;background:#FF7424'" [routerLink]="'/ModoEntrenamiento/EntrenamientoRespuestaPregunta/'+item.id" ></app-default-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="ContSimulacionesCompletadas==0"style=" font-size: 15px;margin-top: 10px;">
          No tiene simulaciones completadas.
        </div>
      </div>
      <div class="float-right">
        <img src="../../../assets/iconos/champions.svg" height="35" style="position: absolute; top: -15px; left: 95%;" />
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
    </div>
  </div>
  <br>
  <!-- Simulaciones incompletas -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="titulo" style="text-align: left;border-bottom: 1px solid #E4E4E4; padding-bottom: 10px;"><img src="../../../assets/iconos/question_2.svg" style="height: 40px;" />
          Simulaciones incompletas
        </div>
        <div *ngIf="ContSimulacionesIncompletas!=0">
          <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
            <ng-container *ngFor="let item of SimulacionesIncompletas">
              <div  *ngIf="item.idSimuladorAdsaModo==2" class="container" style="border-bottom: 1px solid #E4E4E4;padding-bottom: 15px;">
                <div class="row texto-contenido" style="margin-top: 20px;margin-left: 0px;">
                  <div class="col-md-6">
                    <div>
                      <b>Nombre: </b>  {{item.nombreExamen}}
                    </div>
                    <div>
                      <b>Fecha último cambio: </b>  {{item.fechaModificacion|date: 'dd/MM/yyyy'}} - {{item.fechaModificacion| date: 'HH:mm'}}
                    </div>
                    <div>
                      <b>Preguntas Respondidas: </b>  {{item.preguntasRespondidas}} de {{item.preguntasRespondidas+item.preguntasPendientes}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-progress-bar mode="determinate" style="height: 20px;"
                  [value]="(item.preguntasRespondidas/(item.preguntasRespondidas+item.preguntasPendientes))*100">
                </mat-progress-bar>
                    <div style="display: flex">
                      <div style="margin-right: 160px">
                        <b>Progreso:</b>
                      </div>
                      <div style="text-align: left;font-size:19px;color:#0684F2;font-weight: bold;">
                        {{item.porcentajeAvance}}%
                      </div>
                    </div>
                    <div style="justify-content: left;display:flex">
                      <app-default-button  [confs]="{color:'primary',titulo:'Continuar'}"
                    [style]="'width:170px;margin-top: 20px;background:#FF7424'" [routerLink]="'/ModoEntrenamiento/EntrenamientoPregunta/'+item.id" ></app-default-button>
                    </div>
                  </div>
                </div>

              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="ContSimulacionesIncompletas==0"style=" font-size: 15px;margin-top: 10px;">
          No tiene simulaciones en curso.
        </div>
      </div>
      <div class="float-right">
        <img src="../../../assets/iconos/alert.svg" height="35" style="position: absolute; top: -15px; left: 95%;" />
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
    </div>
  </div>

</div>





