.CardsEstudio{
  border-radius: 20px;
  padding-bottom: 15px;
}
.titulo {
  font-size: 30px;
  color: #4a4a49 !important;
  font-weight: 700 !important;
  text-align: center;
}
.subtitulo {
  font-size: 18px;
  color: #878787;
  font-weight: 700;
}
::ng-deep .mat-progress-bar-fill::after {
  background: #00C356;
}
::ng-deep .mat-progress-bar {
  border-radius: 10px;
}
.item-leyenda-dona{
  padding-top: 20px;
  padding-bottom: 5px;
}
.texto-contenido{
  color: #4a4a49;
}
