<div class="miga-container"[style]="'margin-left:-12px'">
  <div class="miga-container__item" *ngFor="let item of items, let index = index">
      <div *ngIf="index != items.length-1 ">
          <app-link-button (onCliked)="OnClicked.emit(item)" [fontColor]="'#000000'" [fontStyle]="'lighter'" [fontSize]="'0.7rem'" style="margin-top: 0.15rem" [item]="item"></app-link-button>
      </div>
      <div *ngIf="index == items.length-1 ">
          <app-link-button [fontColor]="'#000000'" [Child]="false" [fontStyle]="'bold'" [fontSize]="'0.7rem'" style="margin-top: 0.15rem" [item]="item" [link]="false"></app-link-button>
      </div>
      <mat-icon *ngIf="index < items.length-1" style="font-size: 1.2rem;margin-top: 3px;" >keyboard_arrow_right</mat-icon>
  </div>
</div>
