.button-general {
  text-decoration: none;
  cursor: pointer;
  &:hover {
      text-decoration: underline;
  }
}
.bcChild{

max-width: 200px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
