.ContenidoDonaPuntos3{
  line-height: 20px;
  text-align: center;
  font-size: 44px;
  color: #0684f2;
  border-radius: 100%;
  position: absolute;
  margin-top: 65px;
  margin-left: 45px;
  font-weight: 700;
}
.ContenidoDonaPuntos2{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
  color: #0684f2;
  border-radius: 100%;
  position: absolute;
  margin-top: 65px;
  margin-left: 53px;
  font-weight: 700;
}
.ContenidoDonaPuntos1{
  line-height: 20px;
  text-align: center;
  font-size: 50px;
  color: #0684f2;
  border-radius: 100%;
  position: absolute;
  margin-top: 65px;
  margin-left: 60px;
  font-weight: 700;
}

