<div style="background: white">
  <div class="container" style="width: 80%;">
    <div style="padding-top: 12px; padding-bottom: 12px;">
      <div class="container">
        <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <app-miga-pan [items]="migaPan"></app-miga-pan>
        </div>
      </div>
      <div style="display:flex">
        <img src="../../../assets/iconos/ModoEstudioSelect.svg" style="height: 35px; margin-right: 10px;" />
        <div class="titulo">Modo Estudio</div>
       </div>
    </div>
  </div>
</div>

<div class="container" style="width: 80%; padding-bottom: 40px; padding-top: 40px;">
  <div style="padding-top: 20px; padding-bottom: 25px;justify-content: center;">
    <div  class="row" style="color:#fff;justify-content: center;">
      <div class="card CardsEstudio col-md-4" style="background: #f2f5fa; border: none;">
        <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
          <div style="text-align:center;">
              <b class="card-title">Número de simulaciones</b><br><b>totales</b></div>
        </div>
        <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
          <div class="text-center"><b style="font-size:60px;">{{SimulacionesTotales}}</b></div>
        </div>
      </div>
    <div class="card CardsEstudio col-md-4" style="background: #f2f5fa; border: none;">
        <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
            <div style="text-align:center;">
                <b class="card-title">Número de simulaciones</b><br><b> inconclusas</b>
            </div>
        </div>
        <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
          <div class="text-center"><b style="font-size:60px;">{{SimulacionesInconclusas}}</b></div>

        </div>
    </div>
    <div class="card CardsEstudio col-md-4" style="background: #f2f5fa; border: none;">
        <div class="card-header" style="border-radius: 20px 20px 0px 0px; border-bottom: 1px solid #fff; background: #0C9AFE; font-size: 20px;">
            <div style="text-align:center; ">
                <b class="card-title">Tiempo de estudio</b><br><b> total</b>
            </div>
        </div>
        <div class="card-body" style="border-radius: 0px 0px 20px 20px; background: #0C9AFE">
            <div class="text-center"><b style="font-size:60px;">{{HoraMostrar}}:{{MinutoMostrar}}</b></div>
            <div class="text-center"><span class="card-text">XX horas / XX minutos</span></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="font-weight: 400 !important;margin-bottom: 40px;">
    <div class="titulo" style="margin-bottom: 15px">
      Resultado del aprendizaje con mayor rendimiento
    </div>
  </div>
  <div *ngIf="ResultadosPorTarea!=undefined">
    <div class="row titulo" style="font-weight: 400 !important;margin-bottom: 10px;">
    <ng-container *ngFor="let itemDominios of ResultadosPorTarea" >
      <div class="col-12 col-md-3">
        <div style="display: flex;justify-content: center;">
          <app-dona-puntos [Puntos]="itemDominios.promedio"></app-dona-puntos>
        </div>
      <div class="item-leyenda-dona">
        <div class="subtitulo">
          Objetivo de aprendizaje {{itemDominios.id}}:
        </div>
        <div style="font-size: 14px">
          {{itemDominios.nombre}}
        </div>
        </div>
        </div>
    </ng-container>
    </div>
</div>


  <!-- Crear simulación de estudio -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-bottom: 1px solid #E4E4E4; border-radius: 20px 20px 0px 0px; padding-bottom: 10px;">
      <div class="titulo" style="text-align: left"><img src="../../../assets/iconos/New.svg" style="height: 40px;" />
        Crear simulación de estudio
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px; padding-top: 20px; padding-bottom:0px; ">
      <div class="subtitulo" style="padding-bottom: 5px;">
        Instrucciones:
      </div>
      <div>
        En este modo podrás estudiar de forma personalizada cada uno de los resultado del aprendizaje en los que se divide en examen, además en todas las preguntas se te brindará retroalimentación para verificar tus respuestas y fortalecer tus conocimientos.
      </div>
      <form (submit)="RegistrarExamen()" [formGroup]="userForm">
        <div class="form-horizontal" id="form-crearExamen">
          <div class="row">
            <div class="col-md-12" style="padding-bottom: 20px;">
              <div class="subtitulo" style="margin-top: 20px;margin-bottom: 3px;">
                Seleccione el resultado del aprendizaje que desea estudiar:
              </div>
              <div class="row">
                <div *ngIf="TareaSeleccionado!=1" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=1">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%" >
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="https://repositorioweb.blob.core.windows.net/repositorioweb/simulador/itil/imagenes/OA1.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;" >
                      Entender como los principios Guías de ITIL puede ayudar a una organización
                    </div>
                  </div>
                </div>
                <div *ngIf="TareaSeleccionado==1" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%" >
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento1.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;" >
                      Entender como los principios Guías de ITIL puede ayudar a una organización
                    </div>
                  </div>
                </div>

                <div *ngIf="TareaSeleccionado!=3" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=3">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img  style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento3.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                        Entender las 4 dimensiones de la Gestión del servicio
                    </div>
                  </div>
                </div>
                <div *ngIf="TareaSeleccionado==3" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento3.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                        Entender las 4 dimensiones de la Gestión del servicio
                    </div>
                  </div>
                </div>

                <div *ngIf="TareaSeleccionado!=5" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=5">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img  style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento3.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender las actividades de la Cadena de Valor del Servicio (SVC) y como se interconectan                    </div>
                    </div>
                </div>
                
                <div *ngIf="TareaSeleccionado==5" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento3.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender las actividades de la Cadena de Valor del Servicio (SVC) y como se interconectan                    </div>
                    </div>
                </div>

                <div *ngIf="TareaSeleccionado!=7" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=7">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img  style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento3.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender las 7 prácticas de ITIL                  
                    </div>
                </div>
               </div>
                <div *ngIf="TareaSeleccionado==7" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento3.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender las 7 prácticas de ITIL                    </div>
                </div>

                </div>
              

              <div class="row">
                <div *ngIf="TareaSeleccionado!=2" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=2">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento2.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender como los principios Guías de ITIL puede ayudar a una organización                    </div>
                  </div>
                </div>
                <div *ngIf="TareaSeleccionado==2" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento2.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Ejecutar experimentos y entrenar modelos.
                    </div>
                  </div>
                </div>

                <div *ngIf="TareaSeleccionado!=4" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=4">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento4.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender el propósito y componentes del Sistema de Valor de Servicio de ITIL                    </div>
                  </div>
                </div>
                <div *ngIf="TareaSeleccionado==4" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento4.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Entender el propósito y componentes del Sistema de Valor de Servicio de ITIL                    </div>
                  </div>
                </div>

                <div *ngIf="TareaSeleccionado!=6" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=6">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: #0C9AFE ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento4.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Conocer el propósito y términos claves de 18 prácticas de ITIL  </div>                </div>
                </div>
                <div *ngIf="TareaSeleccionado==6" class="col-12 col-md-6 CardsDominio" (click)="TareaSeleccionado=0">
                  <div class="card-body row" style="border-radius: 20px 20px 20px 20px; background: rgb(255, 138, 92) ;width:103%">
                    <div class="col-md-2" style="display: flex; justify-content: center;">
                      <img style="height: 50px;" src="../../../assets/iconos/MC-ADSA-Tento4.svg">
                    </div>
                    <div class="col-md-10" style="font-size:15px;color: white;cursor: pointer;display: flex;align-items: center;">
                      Conocer el propósito y términos claves de 18 prácticas de ITIL                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-error *ngIf="!userForm.invalid && TareaSeleccionado==0">Debe seleccionar una habilidad para la simulación</mat-error>
          <div class="row">
            <div class="col-md-12" style="margin-top: 10px ">
              <div class="subtitulo">Nombre de la simulación:</div>
              <mat-form-field appearance="outline" [floatLabel]="'always'" style="width: 100%;">
                <input type="text" placeholder="Escriba el nombre de la simulación" formControlName="NombreSimulacion" matInput />
                <mat-error *ngIf="userForm.invalid">Debe ingresar un nombre para la simulación</mat-error>
              </mat-form-field>
              </div>
            </div>
        </div>
        </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <app-default-button  [confs]="{color:'primary',titulo:'Comenzar'}"
              [style]="'width:100%;margin-top: 20px;background:#FF7424'" [disabled]="BotonResgistrar"></app-default-button>
            </div>
            <div class="col-md-3"></div>

          </div>
        </form>
        
      </div>
    </div>
    <br>
  <!-- Simulaciones completadas -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="titulo" style="text-align: left;border-bottom: 1px solid #E4E4E4; padding-bottom: 10px;"><img src="../../../assets/iconos/check2.svg" style="height: 40px;" />
          Simulaciones completadas
        </div>
        <div *ngIf="ContSimulacionesCompletadas!=0">
          <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding:0px;">
            <ng-container *ngFor="let item of SimulacionesCompletadas">
              <div  *ngIf="item.idSimuladorItilModo==1" style="border-bottom: 1px solid #E4E4E4;padding-bottom: 15px;">
                <div class="row texto-contenido" style="margin-top: 20px;margin-left: 0px;">
                  <div class="col-md-4">
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                      <div>
                        <b>Nombre: </b>  {{item.nombreExamen}}
                      </div>
                      <div>
                        <b>Fecha de conclusión:</b> {{item.fechaModificacion|date: 'dd/MM/yyyy'}} - {{item.fechaModificacion| date: 'HH:mm'}}
                      </div>
                    </div>


                  </div>
                  <div class="col-md-3">
                    <app-dona-puntos [Puntos]="item.desempenio"></app-dona-puntos>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <div style="justify-content: center; padding-top: 10px;">
                        <app-default-button  [confs]="{color:'primary',titulo:'Ver resultados'}"
                      [style]="'width:100%;background:#FF7424;'" [routerLink]="'/ModoEstudio/EstudioReporte/'+item.id" ></app-default-button>
                      </div>
                      <div style="justify-content: center; padding-top: 10px;">
                        <app-default-button  [confs]="{color:'primary',titulo:'Revisar preguntas'}"
                      [style]="'width:100%;background:#FF7424;'" [routerLink]="'/ModoEstudio/EstudioRespuestaPregunta/'+item.id" ></app-default-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="ContSimulacionesCompletadas==0"style=" font-size: 15px;margin-top: 10px;">
          No tiene simulaciones completadas.
        </div>
      </div>
      <div class="float-right">
        <img src="../../../assets/iconos/champions.svg" height="35" style="position: absolute; top: -15px; left: 95%;" />
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
    </div>
  </div>
  <br>
  <!-- Simulaciones incompletas -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="titulo" style="text-align: left;border-bottom: 1px solid #E4E4E4; padding-bottom: 10px;"><img src="../../../assets/iconos/question_2.svg" style="height: 40px;" />
          Simulaciones incompletas
        </div>
        <div *ngIf="ContSimulacionesIncompletas!=0">
          <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding:0px; ">
            <ng-container *ngFor="let item of SimulacionesIncompletas">
              <div  *ngIf="item.idSimuladorItilModo==1" class="container" style="border-bottom: 1px solid #E4E4E4;padding: 0px;">
                <div class="row texto-contenido" style="margin-top: 20px;margin-left: 0px;margin-bottom: 15px;">
                  <div class="col-md-6">
                    <div>
                      <b>Nombre: </b>  {{item.nombreExamen}}
                    </div>
                    <div>
                      <b>Fecha último cambio: </b>  {{item.fechaModificacion|date: 'dd/MM/yyyy'}} - {{item.fechaModificacion| date: 'HH:mm'}}
                    </div>
                    <div>
                      <b>Preguntas Respondidas: </b>  {{item.preguntasRespondidas}} de {{item.preguntasRespondidas+item.preguntasPendientes}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-progress-bar mode="determinate" style="height: 10px;"
                  [value]="(item.preguntasRespondidas/(item.preguntasRespondidas+item.preguntasPendientes))*100">
                </mat-progress-bar>
                    <div style="display: flex">
                      <div style="margin-right: 160px">
                        <b>Progreso:</b>
                      </div>
                      <div style="text-align: left;font-size:19px;color:#0684F2;font-weight: bold;">
                        {{item.porcentajeAvance}}%
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div>
                          <app-default-button  [confs]="{color:'primary',titulo:'Continuar'}"
                        [style]="'width:100%;margin-top: 20px;background:#FF7424'" [routerLink]="'/ModoEstudio/EstudioPregunta/'+item.id" ></app-default-button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="ContSimulacionesIncompletas==0"style=" font-size: 15px;margin-top: 10px;">
          No tiene simulaciones en curso.
        </div>
      </div>
      <div class="float-right">
        <img src="../../../assets/iconos/alert.svg" height="35" style="position: absolute; top: -15px; left: 95%;" />
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
    </div>
  </div>
  <br>
</div>
